.title{
  display: flex;
  flex-direction: column;
}

.filters_fields{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  justify-content: center;
}

.contents_fields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -8px;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
}

.contents_search{
  display: flex;
  flex-wrap: wrap-reverse;
}

.preNext{
  width: 100%;
}

.writePost{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: ivory;
  font-size: 5rem;
  padding: 0;
}

.kakaologin{
  width: 20rem;
  height:2rem;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  font-size:1.2rem;
  padding-top: 0.2rem;
  background-color:#fff115; 
  box-shadow: 0 2px 1px 0 rgba(155, 155, 155, 0.5);
  text-decoration: none;
  color:#702732;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

.kakaologin img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.kakaologin:hover{
  text-decoration: none;
  color: #702732;
}

.kakaologout{
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  font-size:1.2rem;
  padding-top: 0.2rem;
  background-color:#fff115; 
  box-shadow: 0 2px 1px 0 rgba(155, 155, 155, 0.5);
  text-decoration: none;
  color:#702732;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
  margin-right: 3rem;
}

.kakaologout:hover{
  text-decoration: none;
  color: #702732;
}

.mypage{
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #fffefe;
  font-size:1.2rem;
  padding-top: 0.2rem;
  background-color:rgb(255, 255, 255); 
  box-shadow: 0 2px 1px 0 rgba(155, 155, 155, 0.5);
  text-decoration: none;
  color:rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  cursor:pointer;
  margin-right: 3rem;

}

.statemanage{
  display: flex;
  flex-wrap: wrap-reverse; /*wrap은 데이터가 넘쳐서 다음 줄로 넘어갈 때 주는 속성이에요!*/
}

@media screen and (max-width: 820px) {.contents {width: 320px;}}
@media screen and (min-width: 821px) and (max-width: 1220px) {.contents {width: 640px;}}
@media screen and (min-width: 1221px) {.contents {width: 960px;}}

/* @media screen and (max-width: 820px) {.contents {width: 320px;}}
@media screen and (min-width: 821px) and (max-width: 1220px) {.contents {width: 640px;}}
@media screen and (min-width: 1221px) and (max-width: 1620px) {.contents {width: 960px;}}
@media screen and (min-width: 1621px) {.contents {width: 1280px;}} - 한 줄에 4개씩 띄우기*/

/*메인페이지에서 해야할 것들*/

/*1. 카드 내용들을 api로 불러온다.*/
/*2. 불러온 내용들을 map함수를 써서 불러올 내용이 없을 때까지 불러온다. */
/*3. 만약 포스트가  많다면,  페이지에 넘어가서 뜨도록 처리한다.*/
/*4. 그 페이지를 넘어갈 수 있도록 기능을 만든다. */
/*5. 로그인페이지가 완성 된다면, 로그인여부에 따라 버튼을 로그인/로그아웃 처리한다. */