.pagination {
    position: absolute;
    display: block;
    justify-content: center;
    bottom : 3vw;
    left:25vw;
}

ul{
    list-style: none;
    padding: 0;
}

ul.pagination li{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.3px solid rgb(105, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
}

ul.pagination li:first-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li.active{
    background: rgb(130, 204, 188);
}

ul.pagination li a:hover,
ul.pagination li a.active{
    color: rgb(0, 0, 0);
}

.page-selection{
    width:48px;
    height:30px;
    color: #000000;
}