.pagination {
    display:flex;
    justify-content: center;
    margin-top: 15px;
}

ul{
    list-style: none;
    padding: 0;
}

ul.pagination li{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
}

ul.pagination li:first-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
}

ul.pagination li.active{
    background: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active{
    color: black;
}

.page-selection{
    width:48px;
    height:30px;
    color: #337ab7;
}